/* 기본세팅 */

* {
    outline: 1px solid #1EA4FF;
}

.inner {
    width: 1200px;
    margin: 0 auto;
}

#mainVisual {
    position: relative;
    height: 100vh;
    background: #333;
}

#header {
    line-height: 100px;
}

#header .inner {
    display: flex;
    justify-content: space-between;
}

#header .gnb>ul {
    display: flex;
    gap: 60px;
}

#header .gnb a {
    display: block;
}


#header .gnb>ul>li {
    position: relative;

}

#header .gnb>ul>li .smenu {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%, 0);
    line-height: 40px;
    background: tomato;
    color: #fff;
    text-align: center;
    width: 150px;
    z-index: 999;

    /* display: none; */
    height: 0;
    transition: 0.5s;
    overflow: hidden;

}

#header .gnb>ul:hover>li .smenu {
    /* display: block; */
    height: 170px;
}

#header .gnb>ul>li .smenu li~li {
    border-top: 1px solid #fff;
}

#header .gnb>ul::before {
    content: "";
    position: absolute;
    top: 100px;
    left: 0;
    right: 0;
    height: 170px;
    background: tomato;
    z-index: 999;


    height: 0;
    transition: 0.5s
        /* display: none; */
}

#header .gnb>ul:hover::before {
    /* display: block; */
    height: 170px;
}