@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    outline: 1px solid #365;
}

.synce {
    padding: 100px 0;
    background: url(../img/section2_bg.jpg) repeat-x;
}

.synce_wrap {
    display: flex;
    gap: 60px;
    margin: 0 0 0 auto;
    overflow: hidden;
    width: calc(1200px + (100% - 1200px)/2);
}

.synce_wrap .left {
    width: 400px;
    /* box-shadow: 10px 10px 50px #333; */
}

.synce_wrap .left img {
    /* box-shadow: 10px 10px 50px #333; */

}

.synce_wrap .right {
    flex: 1;

    display: flex;
    flex-direction: column;
    overflow: hidden;

    position: relative;
    z-index: 999;
}

.left_slide .slick-list {
    overflow: visible;
}

.left_slide img {
    box-shadow: 30px 30px 30px rgba(0, 0, 0, 0.2);
    margin: 0 0 40px 0;
}

.right_slide {
    margin: auto -100px 0 -15px;
}


.right_slide figure {
    padding: 0 15px;
}

.bar {
    position: relative;
    width: 740px;
    height: 10px;
    background: #fff;
    margin: 10px 0;
}

.bar span {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    height: 100%;
    background: tomato;
    transition: left 0.5s;
}

.bar2 {
    position: relative;
    width: 740px;
    height: 10px;
    background: #fff;

}

.bar2 span {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: tomato;
    transition: left 0.5s;
}