@import url('https://cdn.jsdelivr.net/npm/xeicon@2.3.3/xeicon.min.css');

* {
    outline: 1px solid #2E8B57;
}


.header {
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translate(-50%, 0);
    z-index: 999;
}

.footer {
    position: absolute;
    bottom: 50px;
    left: 50%;
    color: #fff;
    transform: translate(-50%, 0);
}

.mainVisual {
    position: relative;
}

.mainVisual .video_wrap {
    /* width: 80vh; */
    height: 80vh;
}


/* .mainVisual .pause {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0;
    border: none;
    background: transparent;

}

.mainVisual .pause::before {
    content: "\ea3b";
    font-family: xeicon;
    font-size: 50px;
    padding: 15px;
    background: tomato;

}

.mainVisual .pause.on::before {
    content: "\ea3e";
} */

.utb iframe {
    width: 400px;
    height: 300px;
}